# Dependencies
/node_modules

# Build output
/dist

# Test configuration
jest.config.js

# Environment variables
.env

# Memory
.gemini/memory.json
todo.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
